/* This style to responsive css*/

/* This is for ipad or tablet screen */
/* @media (max-width: 1000px) {
} */

/* This is for phone screen */
@media only screen and (max-width: 800px) {
  .content-main {
    flex-direction: column;
  }

  .content-main-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
