* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: grey;
  overflow: auto;
  padding: 10px 50px 10px;
}

.website-title {
  float: left;
  font-size: 30px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}

.menu {
  float: right;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
}

.menu li {
  list-style: none;
  display: inline;
}

.menu a {
  color: white;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  padding: 0 10px;
  border-right: 2px solid white;
  font-weight: 500;
}

.menu a:hover {
  font-weight: 700;
  color: black;
}

.menu a.docs-link {
  border: none;
}

/* CSS FOR CONTENT */
.content {
  min-height: 100vh;
  background-color: rgb(201, 233, 244);
  overflow: auto;
  padding: 30px 0;
}

.content-header {
  width: calc(1200px + 20px + 20px);
  margin: 0 auto;
  box-sizing: border-box;
}

.content-header h1 {
  color: grey;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-header p {
  margin: 5px 0 30px;
  text-align: center;
  font-size: 25px;
}

.content-main {
  overflow: auto;
  width: calc(1200px + 20px + 20px + 3px);
  margin: 0 auto;
}

.content-main-item {
  float: left;
  width: 400px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 5px;
}

.content-main-item:hover {
  cursor: pointer;
}

.content-main-item.second {
  margin: 0 20px;
}

.content-main-item img {
  max-width: calc(397px - 10px);
  margin-bottom: 10px;
}

.content-main-item h3 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  margin: 10px 0 5px;
  color: grey;
  font-size: 28px;
}

.content-main-item p {
  text-align: center;
}

/* CCS FOR FOOTER */
.footer {
  background-color: grey;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
}

.footer span {
  color: black;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
