* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  background-color: grey;
  padding: 10px 50px 10px;
  display: flex;
  justify-content: space-between;
}

.website-title {
  font-size: 30px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}

.menu li {
  list-style: none;
  display: inline;
}

.menu a {
  color: white;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  padding: 0 10px;
  border-right: 2px solid white;
  font-weight: 500;
}

.menu a:hover {
  font-weight: 700;
  color: black;
}

.menu a.docs-link {
  border: none;
}

/* CSS FOR CONTENT */
.content {
  min-height: 100vh;
  background-color: rgb(191, 192, 193);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-header {
  max-width: 1200px;
  padding: 20px 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

.content-header h1 {
  color: grey;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-header p {
  margin: 5px 0 30px;
  text-align: center;
  font-size: 25px;
}

.content-main {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.content-main-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  background-color: white;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-main-item img {
  max-width: 100%;
  margin-bottom: 10px;
}

.content-main-item a {
  background-color: grey;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}

.content-main-item a:hover {
  background-color: black;
  font-weight: 600;
}

.content-main-item h3 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  margin: 10px 0 5px;
  color: grey;
  font-size: 28px;
}

.content-main-item p {
  text-align: center;
}

/* CCS FOR FOOTER */
.footer {
  background-color: grey;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
}

.footer span {
  color: rgb(230, 70, 97);
}
